/* QAP 3 - Front End Programming */
/* Author: Sara Woodford */
/* Submission Date: July 27, 2024 */

body{
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-image: url('../src/assests/images/dog-background.png');
  background-repeat: repeat;
  padding: 15px; 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 20px solid black;
}

.headerImage{
  width: 100%;
  height: auto;
}

.headerText{
  position: absolute;
  color: rgb(2, 217, 255);
  font-size: 36pt;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 4px rgb(77, 77, 77);
}

.label{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
}

form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  color: purple;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16pt;
}

.messageText{
  color: rgb(128, 128, 241); 
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  text-decoration: underline;
  margin: 15px;
}

.ImageGallery img{
  width: 50px;
  height: 50px;
  border: 2px solid fuchsia;
}

footer{
  background-color: cyan;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom:0;
  align-self: center;
  margin-left: -310px;
}

footer p{
  color: fuchsia;
  text-shadow: 2px 2px 4px grey;
  font-size: 16pt;
  font-family:Arial, Helvetica, sans-serif;
}

.Main{
  flex-grow: 1;
}