/* QAP 3 - Front End Programming */
/* Author: Sara Woodford */
/* Submission Date: July 27, 2024 */

body{
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(99, 150, 252);
  padding: 15px;
}

